/* Style the side navigation */
.sidenav {
  float: left;
  height: 100%;
  width: 10%;
  overflow: auto;
  background-color: #33334d;
}

/* Side navigation links */
.sidenav a {
  padding: 1;
  text-decoration: none;
  display: block;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

body {
    background: #33334d;
    color: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
	  top: 0;
    margin: 10px;
    padding: 10px;
  	line-height: 1.5;
    font-size: 12pt;
}

table {
	text-align: center;
}

header .logo {
    background-image: url("images/Logo.png");
    background-size: 250px;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
}

a:hover {
	color: #507EFE;
}

a:link, :visited {
	color: #EBEBEB;
}

h1, h2, h3 {
	color: #507EFE;
}

h4, h5, h6 {
	color: #EBEBEB;
}
